{% extends 'base.html.twig' %}

{% block title %}{{ page.titre }}{% endblock %}

{% block body %}
<section class="home">
    <h1>{{ page.titre }}</h1>

    <div class="home-content">
        {{ page.contenu|raw }}
    </div>
</section>
{% endblock %}
