<div id="contact">
	<section class="contact-box" aria-labelledby="contact-box-title">
		<div class="container">

			<h2 id="contact-box-title" class="contact-box-title">
				Prendre contact
			</h2>

			<div class="contact-box-actions">
				<a href="{{ path('contact') }}" class="btn-primary">
					Me contacter
				</a>
			</div>

		</div>
	</section>
	{# Contact sticky mobile #}
	<div class="contact-sticky-mobile">
		<a href="{{ path('contact') }}" class="contact-sticky-btn">
			Prendre rendez-vous
		</a>
	</div>
</div>
